/* Outline buttons */
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #499249;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Callouts  */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border: 1px solid #eee;
    border-left: 5px solid #eee;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    /*background-color: #fcf2f2;*/
    border-left-color: #ce4844;
}
.bs-callout-warning {
    /*background-color: #fefbed;*/
    border-left-color: #f1a93e;
}
.bs-callout-info {
    /*background-color: #f0f7fd;*/
    border-left-color: #1b809e;
}