<!DOCTYPE html>
<html lang="en" ng-app="napkinCalculatorApp">
<head>
    <meta charset="UTF-8">
    <title>Napkin Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body ng-controller="NapkinCalcCtrl as calculator">

<div class="container">
    <h2> Prototype Napkin Calculator for Real Estate </h2>

    <div class="row">
        <div class="container form-group form-inline">
            <div class="input-group">
                <input type="text" class="form-control" style="border-radius: 4px"
                       ng-model="calculator.model.name" placeholder="Property Description"/>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" ng-click="calculator.saveCurrentModel()">Save</button>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Load Properties <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(name, savedModel) in calculator.savedModels">
                            <a href ng-click="calculator.loadModel(savedModel)">{{name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Major Costs</div>
                <div class="panel-body">
                    <div class="form-group ">Purchase Price
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" ng-model="calculator.model.propertyPrice" />
                        </div>
                    </div>
                    <div class="form-group ">Down Payment ({{calculator.model.downPaymentPct}}%)
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" disabled ng-model="calculator.downPaymentAmt()" />
                        </div>
                    </div>
                    <div class="form-group ">Mortgage
                        ({{calculator.model.loanDurationYears}} yrs @ {{calculator.model.interestPct}}%)
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" disabled ng-model="calculator.mortgagePayment()" />
                        </div>
                    </div>
                    <div class="form-group ">Expected HOA
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" ng-model="calculator.model.expectedHOA" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Income and Maintenance</div>
                <div class="panel-body">
                    <div class="form-group ">Expected rent
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" ng-model="calculator.model.expectedRent" />
                        </div>
                    </div>
                    <div class="form-group ">Expected Home Insurance
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" ng-model="calculator.model.expectedInsurance" />
                        </div>
                    </div>
                    <div class="form-group ">Expected Prop Taxes
                        <div class="input-group">
                            <div class="input-group-addon ">$</div>
                            <input type="number" class="form-control" ng-model="calculator.model.expectedPropTaxes" />
                        </div>
                    </div>
                    <div class="form-group ">Expected Vacancy Rate
                        <div class="input-group">
                            <input type="number" class="form-control" ng-model="calculator.model.expectedVacancyPct" />
                            <div class="input-group-addon ">%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-group ">Management ({{calculator.model.managementCostPct*100}}%)
                <div class="input-group">
                    <div class="input-group-addon ">$</div>
                    <input type="number" class="form-control" disabled ng-model="calculator.managementCost()" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
            <div class="form-group ">Repair & CapEx Fund
                ({{calculator.model.repairFundPct + calculator.model.capExPct}}% )
                <div class="input-group">
                    <div class="input-group-addon ">$</div>
                    <input type="number" class="form-control"
                           ng-model="calculator.repairFund()" disabled/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="form-group ">Vacancy fund
                <div class="input-group">
                    <div class="input-group-addon ">$</div>
                    <input type="number" class="form-control" disabled
                           ng-model="calculator.vacancyAllowance()" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-4 col-sm-4">
            <p class="text-success">Cash Flow: <strong>${{calculator.cashFlow()}}</strong></p>
        </div>
        <div class="col-md-4 col-sm-4">
            <p>Net Annual Income: <strong>${{calculator.netAnnualIncome()}}</strong></p>
        </div>
    </div>





    <blockquote>
        <h2 class="text-{{calculator.cashOnCashReturn() > 0? 'success' : 'danger'}}">
            <strong>{{calculator.cashOnCashReturn()}}</strong>%
        </h2>
        <footer>Cash on Cash Return</footer>
    </blockquote>
    <p>Initial investment doubles approx every <strong>{{calculator.doublerYears()}}</strong> years!</p>

    <hr>
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="(name, savedModel) in calculator.savedModels">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <h3><a href="" ng-click="calculator.loadModel(savedModel)">{{name}}</a></h3>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <a ng-click="calculator.removeModel(savedModel)"><span class="glyphicon glyphicon-remove-sign"></span></a>
                            </div>
                        </div>
                        <p>Purchase Price: <strong>${{savedModel.propertyPrice}}</strong></p>
                        <p class="text-danger">Down Payment (<span>{{savedModel.downPaymentPct}}</span>%): <strong>${{savedModel.downPaymentAmt}}</strong></p>
                        <p class="text-success">Cash Flow: <strong>${{savedModel.cashFlow}}</strong></p>
                        <blockquote>
                            <h2 class="text-{{savedModel.cashOnCashReturn > 0? 'success' : 'danger'}}">
                                <strong>{{savedModel.cashOnCashReturn}}</strong>%
                            </h2>
                            <footer>Cash on Cash Return</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="calculator.js"></script>
</body>
</html>