<div id="signup-modal" class="modal fade bs-example-modal-lg"
     tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <form class="modal-content" ng-submit="navbar.signup()">
            <div class="modal-header"><h3 class="modal-title text-center">Create New Account</h3></div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                        <div id="signup-form">
                            <div class="panel panel-danger" id="signup-errorPanel" ng-show="navbar.showSignupErrorMsg">
                                <div class="panel-body text-danger">{{navbar.signupErrorMsg}}</div>
                            </div>

                            <div class="form-group {{navbar.emailError? 'has-error' : ''}}">
                                <label class="control-label" for="signup-email">Email address</label>
                                <input type="email" class="form-control" required
                                       ng-model="navbar.signupEmail"
                                       id="signup-email" placeholder="Email">
                            </div>

                            <div class="form-group {{navbar.passwordError? 'has-error' : ''}}">
                                <label class="control-label" for="signup-password">Password</label>
                                <input type="password" class="form-control" required
                                       ng-model="navbar.signupPass"
                                       id="signup-password" placeholder="Password">
                            </div>

                            <div class="form-group {{navbar.passwordError? 'has-error' : ''}}">
                                <label class="control-label" for="signup-password">Confirm Password</label>
                                <input type="password" class="form-control" id="signup-password-confirm" required
                                       ng-model="navbar.signupPassConfirm"
                                       placeholder="Just making sure you got it right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Create Account</button>
            </div>
        </form>
    </div>
</div>